.searchsetting{
    position: relative;
    color: #2F0047;
    left: -18px;
    cursor: pointer;
    }

    .Navbackcolor1{
        background-color:  #2F0047 !important;
        min-height:10% !important;
    }   
    .div-border{
        border-top: 1px dotted black !important;
    }

    