.Nabackcolor{
    background-color:  #2F0047;
    min-height:10% !important
}
.Logosetting{  
    width: 50%;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.btn1{
    background-color: white !important;
    border: 0px !important;
    height: 38px;
    border-radius: 0px !important;
}
.cartset{
    padding-left: 5px !important;
}
.form-control{
    border-radius: 0px !important;
}
.container1{
    max-width:1248px;
    margin: 0 auto;
}
.search{
    position: absolute;
    right: 15px;
    top: 8px;
}
.navbar-brand{
    margin: 0 !important;
}
.nav-search{
    padding: 12px 0 0 0;
}
.nav-dropdown{
    padding: 12px 0 0 0 !important;
}

@media screen and (min-width: 768px) and (max-width :1200px) {
    .nav-search{
        padding: 9px 0 0 10px !important;
    }
    .carousel-control-left-div {
        padding: 10px 5px !important;
        margin-right: 0px !important;
    }
    .carousel-control-right-div {
        padding: 10px 5px !important;
        margin-left: 0px !important;
    }
    .search{
        position: absolute;
        right: 25px;
        top: 12px;
    }
    .tSet768{
        margin: 0 0 0 -25px;
    }
}

@media screen and (max-width: 768px) {
    .Logosetting{  
        width: 70%;
    }
    /* .tSet768{
        margin: 0 0 0 -25px;
    } */
}

